   html {
       height: 100%;
       margin: 0;
       -webkit-user-select: none;
       -moz-user-select: none;
       -ms-user-select: none;
       user-select: none;
   }

   body {
       overflow-x: hidden;
       overflow-y: hidden;
       height: 100%;
       margin: 0;
       font-family: '微软雅黑';
    }

   .msgBox {
       width: 568px;
       height: auto;
       /* height: 500px; */
       /* background-color: rgba(4, 22, 63, 0); */
       position: absolute;
       z-index: 10010;
       top: 50%;
       left: 0;
       right: 0;
       margin: auto;
       transform: translate(0px, -50%);
       padding: 0 6px;
       box-sizing: border-box;
       color: #353535;
   }

   .sub {
       /* background-color: rgba(4, 22, 63, 1); */
       position: absolute;
       width: 100%;
       height: 28px;
       -webkit-animation: shadow ease-in-out 2s infinite;
       animation: shadow ease-in-out 2s infinite;
       left: 0;
       top: 0;
       z-index: 9;
   }

   .sub::after {
       content: '';
       display: block;
       width: 110px;
       height: 14px;
       position: absolute;
       left: 50%;
       margin-left: -55px;
       bottom: -14px;
       background-color: rgba(4, 22, 63, 1);
   }

   .sub h3 {
       text-align: center;
       /* color: #ffffff; */
       width: 100%;
       margin: 0;
       position: absolute;
       line-height: 34px;
       font-size: 18px;
       z-index: 9;
   }

   .sub span {
       display: block;
       width: 110px;
       height: 14px;
       position: absolute;
       left: 50%;
       margin-left: -55px;
       bottom: -14px;
   }

   .sub span:nth-of-type(1) {
       -webkit-animation: shadowS ease-in-out 2s infinite;
       animation: shadowS ease-in-out 2s infinite;
       z-index: 1;
   }

   .sub span:nth-of-type(1)::before {
       content: '';
       display: block;
       width: 0;
       height: 0;
       border-top: 14px solid rgba(4, 22, 63, 1);
       border-left: 14px solid transparent;
       position: absolute;
       top: 0;
       left: -12px;
   }

   .sub span:nth-of-type(1)::after {
       content: '';
       display: block;
       width: 0;
       height: 0;
       border-top: 14px solid rgba(4, 22, 63, 1);
       border-right: 14px solid transparent;
       position: absolute;
       top: 0;
       right: -12px;
   }

   .sub span:nth-of-type(2) {
       z-index: 2;
   }

   .sub span:nth-of-type(2)::before {
       content: '';
       display: block;
       width: 49px;
       height: 10px;
       background-image: url("stripeL.png");
       position: absolute;
       left: -55px;
       bottom: 0;
   }

   .sub span:nth-of-type(2)::after {
       content: '';
       display: block;
       width: 49px;
       height: 10px;
       background-image: url("stripeL.png");
       transform: rotateY(180deg);
       position: absolute;
       right: -55px;
       bottom: 0;
   }

   .borderT {
       position: absolute;
       top: 0;
       z-index: 10;
   }

   .borderT > div {
       position: absolute;
       top: 0;
       background-color: #0CDEE4;
       -webkit-animation: breath ease-in-out 2s infinite;
       animation: breath ease-in-out 2s infinite;
   }

   .borderT > div:nth-of-type(1) {
       width: 3px;
       height: 14px;
   }

   .borderT > div:nth-of-type(2) {
       width: 14px;
       height: 3px;
   }

   .leftT {
       left: 0px;
   }

   .leftT > div {
       left: 0;
   }

   .rightT {
       right: 0px;
   }

   .rightT > div {
       right: 0;
   }

   .title {
       width: 20px;
       padding: 20px;
       font-weight: bold;
   }

   .msgBox table {
	   width: 100%;
       /* background-color: rgba(4, 22, 63, 0); */
       background-color: rgba(255,255,255,0.75);
       padding: 50px 15px 15px;
       position: relative;
        border-radius: 4px;
        overflow: hidden;
   }

   .msgBox table::after {
       content: '';
       display: block;
       position: absolute;
       left: 0;
       top: 0;
       right: 0;
       height: 0;
       background-color: rgba(4, 22, 63, 0.8);
       z-index: -1;
	   border-left: 1px solid #fff;
	   border-right: 1px solid #fff;
       border-image: -webkit-linear-gradient(rgba(12, 222, 228, 0.66), rgba(12, 222, 228, 0)) 2 2;
       border-image: linear-gradient(rgba(12, 222, 228, 0.66), rgba(12, 222, 228, 0)) 2 2;
       -webkit-animation: trans ease-in-out 0.4s forwards;
       animation: trans ease-in-out 0.4s forwards;
   }

   .msgBox table tbody {
       opacity: 0;
       -webkit-animation: op 0.3s ease-in-out 0.2s forwards;
       animation: op 0.3s ease-in-out 0.2s forwards;
   }

   .msgBox table tr {
	   background-color: rgba(4,22,63,0.3);
       font-family: '微软雅黑';
   }

   .msgBox table td {
       text-align: left;
       list-style: none;
       color: aliceblue;
       /* color: #353535; */
       font-weight: 100;
       font-size: 15px;
       line-height: 20px;
	   padding: 5px 8px;
   }

    .detail {
		position: absolute;
		right: 10px;
		z-index: 30;
		/* color: rgba(255,255,255,0.66); */
		font-size: 14px;
		line-height: 20px;
		/* top: 4px; */
		top: 7px;
        font-family: '微软雅黑';
        color:#353535;

	}

	.detail:hover{
		/* color: rgba(255,255,255,1); */
		color: #888;
		text-decoration: underline;
		transition: all 0.3s;
		cursor: pointer;
	}

   /*animate*/
   @keyframes breath {
       0% {
           box-shadow: 0 0 5px rgba(12, 222, 228, 0);
       }
       50% {
           box-shadow: 0 0 5px rgba(12, 222, 228, 1);
       }
       100% {
           box-shadow: 0 0 5px rgba(12, 222, 228, 0);
       }
   }

   @keyframes shadow {
       0% {
           box-shadow: 0 8px 10px rgba(12, 222, 228, 0);
       }
       50% {
           box-shadow: 0 8px 10px rgba(12, 222, 228, 0.12);
       }
       100% {
           box-shadow: 0 8px 10px rgba(12, 222, 228, 0);
       }
   }

   @keyframes shadowS {
       0% {
           box-shadow: 0 8px 6px rgba(12, 222, 228, 0);
       }
       50% {
           box-shadow: 0 8px 6px rgba(12, 222, 228, 0.12);
       }
       100% {
           box-shadow: 0 8px 6px rgba(12, 222, 228, 0);
       }
   }

   @keyframes trans {
       0% {
           height: 0;
       }
       100% {
           height: 100%;
       }
   }

   @keyframes op {
       0% {
           opacity: 0;
       }
       100% {
           opacity: 1;
       }
   }